
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap" rel="stylesheet">

 <!-- Enlace a Bootstrap CSS -->
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">


<div class="container">
    
    <div *ngIf="tipo=='1'">

    <div class="agregar-container">
    <div *ngIf="mostrar">
        <form (ngSubmit)="onSubmit()" class="form-crud-cafe">
            <h2 class="title-agregar">Datos Producto</h2>
            <p class="img-cafe">Link img</p>
            <input type="text" id="img-cafe" placeholder="Link de la imagen" class="input-agregar-cafe" [(ngModel)]="producto.imagen" name="imagen">
            <p class="nombre-cafe">Nombre</p>
            <input type="text" id="nom-cafe" placeholder="Nombre del Producto" class="input-agregar-cafe" [(ngModel)]="producto.nombre" name="nombre">
            <p class="ubi-cafe">Precio</p>
            <input type="nu" id="des-ubi" placeholder="Precio del Producto" class="input-agregar-cafe" [(ngModel)]="producto.precio" name="precio">
            <p class="descripcion-cafe">Descripción</p>
            <input type="text" id="des-cafe" placeholder="Descripción del Producto" class="input-agregar-cafe" [(ngModel)]="producto.descripcion" name="descripcion">
           
               
                
              
            <button class="button-login">Actualizar</button>
        </form>
</div>
</div>

</div>
        <div class="product-container">
            <div *ngIf="tipo=='1'">
                <div class="title-icons">
                <div class="container-icons">
                    <a  (click)="eliminarProducto(producto.id)" class="icon-img"><img src="../../assets/eliminar-icon.png" alt=""></a>
                </div>
                </div>

            </div>
            <div>
                <div class="product-info">
                    <div>
                        <figure><img src="https://images.pexels.com/photos/1199957/pexels-photo-1199957.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt=""></figure>
                    </div>
                    <div>
                        <p class="name-product">{{producto.nombre}}</p>
                    </div>
                </div>
            </div>

                <div class="product-data">
                    <div>
                        <p class="title-description-product">Descripción</p>
                        <p class="text-description-product">{{producto.descripcion}}</p>
                    </div>
                    <div>
                        <p class="text-cal-product">Calificación</p>
                        <p class="cal-product">{{calificacionProducto}}</p>
                    </div>
                    <div>
                        <p class="text-cal-product">Precio</p>
                        <p class="cal-product">$ {{producto.precio}}</p>
                    </div>
                </div>

                <div class="product-input">
                    <div>
                        <p class="title-reseña">Reseñas</p>
                        <textarea class="text-product-reseña">
                         {{comentarios}}
                          
                        </textarea>
                  
                    </div>

                    
                    
                </div>



                  <div *ngIf="tipo=='2'">

              <a (click)="agregarcomentario(producto.id)" >
                <button  class="button-login">Agregar Comentario</button>
            </a>
            </div>
        </div>
      
    </div>