

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap" rel="stylesheet">


<section class="main-admin-container">
    <div class="cards-admin-container">
        
        <div class="admin-card">
            <a  (click)="cafeterias()" >
                <img src="https://images.pexels.com/photos/2551794/pexels-photo-2551794.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
                <div>
                    <p class="title-admin-cafe">CAFETERIAS</p>
                </div>
            </a>
            <div class="container-icons">
                <a   href="http://localhost:8080/cafeteria/exportarPDF" class="icon-img"><img src="../../assets/icons8-descargar-50.png" alt="" ></a>
              
            </div>
        </div>

        <div class="admin-card">
            <a (click)="productos()">
                <img src="https://images.pexels.com/photos/2551794/pexels-photo-2551794.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
                <div>
                    <p class="title-admin-product">PRODUCTOS</p>
                </div>
            </a>
            <div class="container-icons">
                <a  href="http://localhost:8080/producto/exportarPDF" class="icon-img"><img src="../../assets/icons8-descargar-50.png" alt="" ></a>
              
            </div>
        </div>

    </div>
</section>