
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="agregar-productos.component.css">
    <title>Home-Policafé</title>
   
    <section class="crud-cafeterias-container">
        <div class="agregar-container">
            
            <form (ngSubmit)="onSubmit()" class="form-crud-cafe">
                <h2 class="title-agregar">Agregar Producto</h2>
                <p class="img-cafe">Link img</p>
                <input type="text" id="img-cafe" placeholder="Link de la imagen" class="input-agregar-cafe" [(ngModel)]="producto.imagen" name="imagen">
                <p class="nombre-cafe">Nombre</p>
                <input type="text" id="nom-cafe" placeholder="Nombre del Producto" class="input-agregar-cafe" [(ngModel)]="producto.nombre" name="nombre">
                <p class="ubi-cafe">Precio</p>
                <input type="number" id="des-ubi" placeholder="Precio del Producto" class="input-agregar-cafe" [(ngModel)]="producto.precio" name="precio">
                <p class="descripcion-cafe">Descripción</p>
                <input type="text" id="des-cafe" placeholder="Descripción del Producto" class="input-agregar-cafe" [(ngModel)]="producto.descripcion" name="descripcion">
                <p class="descripcion-cafe">Cafeterias Disponibles</p>
                
                <select class="input-agregar-cafe" name="transporte" [(ngModel)]="nombreCafeteria" name="nombreCafeteria">

                    <option class="descripcion-cafe" *ngFor="let cafeteria of cafeterias" >{{cafeteria.nombre}}</option>
                    
                   
                    
                    </select>
                <button class="button-login">Agregar</button>
            </form>
        </div>

    </section>
